@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
:root {
  --main-bg-color: #94d2bd;
  --card-bg-color: #333;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

body.hide-overflow-y {
  overflow-y: hidden;
}

.navbar {
  padding: 8px;
  background-color: var(--card-bg-color);
  text-align: center;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  padding: 20px;
  color: var(--main-bg-color);
  font-size: 20px;
}

li a:hover {
  color: #333;
  background-color: #48bfe3;
  text-decoration: underline;
}

main {
  max-height: 100vh;
  width: 100vw;
}

.title-container {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.bitcoin-logo {
  margin: 0 15px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card,
.home-card {
  height: 350px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 30px;
  margin: 10px 10px;
  background-color: var(--card-bg-color);
  color: var(--main-bg-color);
}
.card:hover,
.home-card:hover {
  transform: scale(1.02);
}

.card {
  height: 700px;
}

.card-title {
  font-size: 20px;
  max-width: 400px;
  word-wrap: break-word;
}

.link-page {
  color: black;
  text-decoration: none;
}

.cube {
  height: 800px;
  width: 800px;
}

.card-icon {
  height: 100px;
  width: 100px;
}

select,
option {
  font-size: 18px;
  font-family: inherit;
}

.block-exp-container,
.block-ind {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: var(--main-bg-color);
}

.block-exp-container {
  position: relative;
}

.form-container,
.center-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

form {
  margin: 0;
  padding: 0;
}

.err-msg-container {
  position: relative;
  height: 30px;
}

.block-input {
  outline: none;
  padding: 5px 10px;
  border: 2px solid var(--main-bg-color);
  border-radius: 5px;
  transition: 0.1s;
  margin: 0 10px;
}

.block-input:focus {
  border: 2px solid orange;
}

.block-input.error {
  border: 2px solid #ec3636;
}

.err-msg {
  color: #ec3636;
  font-size: 14px;
  position: absolute;
  left: 40%;
  font-weight: 600;
  margin-top: 3px;
}

.center-container {
  position: relative;
}

.block-line {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -99;
  height: 20px;
  width: 100vw;
  top: 50%;
  transform: translateY(-50%);
}

.flip-block,
.temp-block-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.temp-block-container {
  position: absolute;
  height: 710px;
  width: 870px;
  border-radius: 10px;
  background-color: var(--card-bg-color);
}

.temp-block-container:hover {
  cursor: pointer;
}

.temp-block-container.left {
  transform: translateX(-135%);
}

.temp-block-container.left2 {
  transform: translateX(-270%);
}

.temp-block-container.right {
  transform: translateX(135%);
}

.temp-block-container.right2 {
  transform: translateX(270%);
}

.center-container.right .flip-block {
  transform: translateX(-135%);
  transition: transform 0.7s ease-out;
}

.center-container.right .temp-block-container.right {
  transform: translateX(0%);
  transition: transform 0.7s ease-out;
}

.center-container.right .temp-block-container.right2 {
  transform: translateX(135%);
  transition: transform 0.7s ease-out;
}

.center-container.left .temp-block-container.left2 {
  transform: translateX(-135%);
  transction: transform 0.7s ease-out;
}
.center-container.left .temp-block-container.left {
  transform: translateX(0%);
  transition: transform 0.7s ease-out;
}

.center-container.left .flip-block {
  transform: translateX(135%);
  transition: transform 0.7s ease-out;
}

.flip-block {
  width: 870px;
  height: 710px;
  perspective: 3000px;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--card-bg-color);
  z-index: 999;
  color: var(--main-bg-color);
}

.flip-block-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-icon {
  position: absolute;
  right: 20px;
  top: 10px;
  /* background-color: white; */
  height: 20px;
  width: 20px;
}

.flip-block.rotate .flip-block-inner {
  transform: rotateY(180deg);
}

.flip-block.rotate {
  overflow-y: hidden;
}

.flip-block-front,
.flip-block-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
}

.flip-block-front {
}

.flip-block-back {
  transform: rotateY(180deg);
}

.keys-container,
.values-container {
  display: flex;
  flex-direction: column;
  width: 290px;
  row-gap: 10px;
}

.values-container {
  width: 580px;
}

.keys-container.back {
  width: 370px;
  row-gap: 8px;
}

.values-container.back {
  width: 400px;
  row-gap: 8px;
}

.center-container {
  opacity: 1;
  animation: 0.1s ease-out changeOpacity;
}

@keyframes changeOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.block-exp-individual-block-container {
  height: 225px;
  width: 800px;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--card-bg-color);
}

.block-exp-main-container {
  position: relative;
  margin-bottom: 20px;
}

.main-block-line {
  position: absolute;
  height: 99%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(250, 109, 2, 0.4);
  z-index: -99;
  width: 20px;
}

.chain-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  top: 100%;
  z-index: -99;
  height: 20px;
}

.block-title {
  font-size: 26px;
  font-weight: bold;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

span#block-time {
  font-size: 16px;
  font-style: italic;
  position: absolute;
  right: 0;
}

.block-info {
  padding-top: 20px;
}

.block-info p {
  padding: 0;
  margin: 0;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  /* position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%); */
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.nav-page-container {
  margin: 50px 0;
}

.nav-btn {
  display: inline-flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  width: 30px;
  border-radius: 5px;
  margin: 0 20px;
  background-color: #333;
  color: var(--main-bg-color);
}

.nav-btn:hover {
  cursor: pointer;
  background-color: var(--card-bg-color);
  color: #333;
}

.submit-btn {
  font-family: inherit;
}
